<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="../../../script.js" defer></script>
    <title>Analise De Requisito</title>
</head>
<body>
    <form>
        <div id="cabeçalho">
            <h1>A.R.J.D</h1>
            <button id="noturno" type="button">Noturno</button>
        </div>
        <div id="corpo">
            <form id="pesquisa">
                <input type="search" id="busca" placeholder="Digite aqui...">
            </form>
                <br><br>
            Placa de Vídeo: <select>
            <option value=""></option>
            </select>
            <br>
            Processador: <select></select>
            <br>
            Memória: <select></select>
            <br>
            <h5>Espaço disponível:</h5>
            <br>    
        </div>
        <div id="catalogo"></div>
    </form>
</body>
</html>