@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Protest+Revolution&display=swap');
*{
    box-sizing: border-box;
    font-family: "Cinzel", serif; 
    color:var(--text);   
    text-align: center;
}   

h1{
    font-size: 70px;
    color:var('--text');
    text-shadow: 0 0 3px rgb(74, 25, 63);
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--background);
    display: flex;
    justify-content: center;
}
select{
    cursor: pointer;
    width: 20px;
    border-color: var(--text); 
    border-radius: 5px;
    min-width: 150px;
    background-color: transparent;

}

input[type="search"]{
    border-radius: 5px;
    border: 2px solid rgb(74, 25, 63);
    background-color: transparent;
}
div{
    min-height: auto;
    max-width: auto;
    min-block-size: 400px;
    background: var(--background);;
    box-shadow: 0px 0px 20px rgb(74, 25, 63);
    border-radius: 50px;
    border: solid rgb(74, 25, 63);
    margin: 0px;
    padding: 50px;
    overflow: hidden;
}

#catalogo{
    border:none;
    box-shadow: none;
    padding: 0px;
    margin: 10px;    
}

img{
    border-radius: 10px;
    padding: 0;
    margin: 0;
    border: solid rgb(74, 25, 63);;
    box-shadow: 0px 0px 20px rgb(74, 25, 63);
    opacity: var(--oppaclck);
    cursor: pointer;
}
img:hover{
    opacity: var(--oppadflt);
}

#cabeçalho{
    box-sizing: content-box;
    min-height: 500px;
    max-width: 5000px;
    min-block-size: 0px;
    background: var(--background);
    box-shadow: 0px 0px 20px rgb(74, 25, 63);
    border-radius: 0px;
    border: solid rgb(74, 25, 63);
    padding: 5px;
    margin: 10px;
}
input::placeholder{
    color: var(--text); ;
}

#noturno{
    min-width: 100px;
    background-color: var(--back-noturno);
    color: var(--color-noturno);
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position:relative;
    z-index: 1;
    transition: color 0.3s ease;
}

#noturno::after{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-noturno);
    transition: width 0.4s ease;
    z-index: -1;
}

#noturno:hover::after{
    width:100%;
}

#noturno:hover{
    color:rgb(74, 25, 63);
    border: 1px solid rgb(41, 12, 34)
}

:root{
    --background-light: rgb(250, 249, 247);
    --background-dark: rgb(12, 12, 12);
    --background: var(--background-light);
    --text-light: rgb(41, 12, 34); 
    --text-dark: rgb(92, 24, 72); 
    --text: var(--text-light);
    --noturno-dark: rgb(12, 12, 12);
    --noturno-light: rgb(250, 249, 247);
    --back-noturno: var(--noturno-dark);
    --color-noturno: var(--noturno-light);
    --oppadflt: 90%;
    --oppaclck: 55%;
    --oppanow: var(--oppadflt); 
}